# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_DEFAULT_REGION=us-east-1

# Etherscan API
ETHERSCAN_API_KEYS=your_etherscan_api_key

# Ethereum addresses
ETH_ADDRESSES=0x742d35Cc6634C0532925a3b844Bc454e4438f44e

# S3 Buckets
RAW_BUCKET_NAME=de-27-team11-new
OUTPUT_BUCKET=de-27-team11-new

# Blockchain
CHAIN_ID=1
